<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not found</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_not_found_page.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/logo3.png') }}" />
</head>
<body>
    <img class="logo" src="{{ url_for('static', filename='images/logo3.png') }}">
    <img class="error-image" src="{{ url_for('static', filename=random_image) }}" alt="404 Image">
    <h1>404</h1>
    <p>Ничего не найдено</p>
    <a href="/">Главная</a>
</body>
</html>